.users-title {
  font-size: 25px;
  font-weight: 400;
  .users-title-btn-add {
    font-size: 18px;
    padding: 0.5rem;
  }
}
.users-content {
  th,
  td,
  label {
    font-size: 16px;
  }
  .users-content-btn {
    font-size: 18px;
    margin-right: 20px;
  }
}
